%tr{ id: "land-#{ @id }"}
  %td
    .input.select.optional.register_lands_department
      %select.select_department.select.optional{name: "register[lands_attributes][ @id ][department_id]", id: 'lands_department_#{ @id }'}
        %option{value: ""}
        = options_from_collection_for_select @departments, :id, :name

  %td
    .input.select.optional.register_lands_municipality
      %select.select_municipality.select.optional{name: "register[lands_attributes][ @id ][municipality_id]", id: 'lands_municipality_#{ @id }'}
        %option{value: ""}
        = options_from_collection_for_select @municipalities, :id, :name
  %td
    %input#register_lands_attributes_1_unit.string.optional{maxlength: "255", name: "register[lands_attributes][1][unit]", size: "50", type: "text"}
  %td
    %input{name: "register[lands_attributes][#{ @id }][_destroy]", type: "hidden", value: "0"}/
    %input#register_lands_attributes_1__destroy{name: "register[lands_attributes][#{ @id }][_destroy]", type: "checkbox", value: "1"}